<!-- GraphViewer Template Tag start. Viewer id={{ viewerid }} -->



    <script src="/static/jquery-2.1.0.min.js"></script>

    <!--<script src="{{ STATIC_URL }}d3.v3.min.js"></script>--><!-- get D3 from a local source -->
    <script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>  <!-- get latest D3 from D3 -->


    <div class="mapbuttons">
        <div class="metrics">
        d=<b>{{ metrics.diameter }}</b>
        r=<b>{{ metrics.radius }}</b>
        ccs=<b>{{ metrics.number_connected_components }}</b>
        deg_lcc=<b>{{ metrics.number_of_nodes }}</b>
        bcentralnode=<b>{{ metrics.betweenness_centrality }}</b>
        trans=<b>{{ metrics.transitivity }}</b>
        avgcluster=<b>{{ metrics.average_clustering }}</b>
        </div>
    </div>

    <div class="d3message">You are using Internet Explorer 8 or earlier - This page requires at least Internet Explorer 9 - or you can use Firefox, Chrome or Safari</div>

    <div id="container{{ viewerid }}" class="graph {{ classname }}">
        <div id="graph{{ viewerid }}" ></div>
        <div id="popupcontainer{{ viewerid }}" class="graphpopupcontainer">
            <a id="closebutton" href="javascript:graph{{ viewerid }}.closePopup()">×</a>
            <div id="popup{{ viewerid }}" >
                <!-- popup container -->
            </div>
        </div>
    </div>

    <script type="text/javascript">
        // Class for the graph visualisation


        function myGraph(el)
        {
            var jsonGraph = {{ jsonGraph|safe }};
            var tickCount = 0;
            var static = true;

            this.closePopup = function ()
            {
                d3.selectAll("circle.node").style("stroke-width", 1).style("stroke-opacity", 1);
                d3.select("#popupcontainer{{ viewerid }}").style("display", "none");
                {% for ganged_viewer in ganglist %}
                        {{ ganged_viewer }}.map.closePopup();
                {% endfor %}
            }


            // Add and remove elements on the graph object
            this.addNode = function (id)
            {
                nodes.push({"id":id});
                update();
            }

            this.removeNode = function (id)
            {
                var i = 0;
                var n = findNode(id);
                while (i < links.length) {
                    if ((links[i]['source'] == n)||(links[i]['target'] == n)) links.splice(i,1);
                    else i++;
                }
                nodes.splice(findNodeIndex(id),1);
                update();
            }

            this.addLink = function (source, target)
            {
                links.push({"source":findNode(source),"target":findNode(target),"value":1});
                update();
            }

            var findNode = function(id)
            {
                for (var i in nodes) {if (nodes[i]["id"] === id) return nodes[i]};
            }

            var findNodeIndex = function(id)
            {
                for (var i in nodes) {if (nodes[i]["id"] === id) return i};
            }

            this.markForDeletion = function()
            {
                var i = 0;
                while (i < nodes.length)
                {
                    if (nodes[i]["intensity"] > 0 )  // intensity >0 means the node is inside the footprint; intensity 6 marks a node for deletion at next shock
                    {
                        nodes[i]["intensity"] = 6;

                        d3.select("#cnode{{ viewerid }}_" + nodes[i]["id"] ).style("visibility", function(d) { return 'hidden'; })
                        d3.select("#rnode{{ viewerid }}_" + nodes[i]["id"] ).style("visibility", function(d) { return 'visible'; })
                    }
                    i++;
                }

            }

            this.applyFootprint = function () {
                var i = 0;
                while (i < nodes.length)
                {
                    if (nodes[i]["intensity"] == 6 )  // intensity >0 means the node is inside the footprint; intensity 6 marks a node for deletion at next shock
                    {
                        var j = 0;
                        while (j < links.length) {
                            if ((links[j]['source']['id'] == nodes[i]["id"])||(links[j]['target']['id'] == nodes[i]["id"])) links.splice(j,1);
                            else j++;
                        }
                        nodes.splice(i,1);
                    }
                    else i++;
                }
                update();
            }

            this.remoteClickOn = function( id )
            {
                d3.selectAll("circle.node" ).style("stroke-width", 1).style("stroke-opacity", 1); // deselect
                d3.select("#cnode{{ viewerid }}_" + id ).style("stroke-width", 3).style("stroke-opacity", 0.8);

                d3.select("#popupcontainer{{ viewerid }}").style("display", "block");
                d3.select("#popupcontainer{{ viewerid }}").style("left", d3.select("#cnode{{ viewerid }}_" + id ).data()[0].x-110 + 'px');
                d3.select("#popupcontainer{{ viewerid }}").style("top", d3.select("#cnode{{ viewerid }}_" + id ).data()[0].y-160 + 'px');
                d3.select("#popup{{ viewerid }}").html(d3.select("#cnode{{ viewerid }}_" + id ).data()[0].popup)
                d3.select("#cnode{{ viewerid }}_" + id ).data()[0].fixed = true
            }

            this.remoteClickOff = function( id )
            {
                d3.select("#cnode{{ viewerid }}_" + id ).style("stroke-width", 1).style("stroke-opacity", 1);
                d3.select("#popupcontainer{{ viewerid }}").style("display", "none");
            }

            // set up the D3 visualisation in the specified element
            var w = 940,
                h = 600;

            //var color = d3.scale.category20();


            var vis = this.vis = d3.select(el)
                        .append("svg:svg")
                        .attr("width", w)
                        .attr("height", h);




            var force = d3.layout.force()
                    .gravity(0.3)
                    .linkDistance(10)
                    .linkStrength(2)
                    .charge(-390)
                    .nodes(jsonGraph.nodes)
                    .links(jsonGraph.links)
                    .size([w, h]);


            var nodes = force.nodes(),
                links = force.links();

            //.links(graph.links)

            var update = function () {

                var link = vis.selectAll("line.link")
                        .data(links, function(d) {return links.indexOf(d);}); // only returning the index in the array works as a key function (this is the same as omitting the function altogther)

                link.enter().append("line")   // changed from insert to append
                        //.attr("class", "link")
                        .attr("class", function(d)
                        {
                            c = "link";
                            // set class by tier
                            if (d.linkstyle==-1) {c = "link style-1"; }
                            if (d.linkstyle==0) {c = "link style0"; }
                            if (d.linkstyle==1) {c = "link style1"; }
                            if (d.linkstyle==2) {c = "link style2"; }
                            if (d.linkstyle==3) {c = "link style3"; }
                            if (d.linkstyle==4) {c = "link style4"; }

                            c += ' layer' + d.layer

                            return c;
                        })
                        .style("stroke-width", function(d) { return {{ linkweight }}; })
                        .attr("id", function(d) { return "edge{{ viewerid }}_" + d.edgeid; })
                        .attr("visibility", function(d)
                        {
                            v = "visible";

                            // set visibility by tier
                            //if ((d.tier==0) && (!t0Evis )) {v = "hidden"; }
                            //if ((d.tier==1) && (!t1Evis )) {v = "hidden"; }
                            //if ((d.tier==2) && (!t2Evis )) {v = "hidden"; }
                            //if ((d.tier==3) && (!t3Evis )) {v = "hidden"; }

                            return v;
                        })
                        /*
                        .attr("stroke", function(d)  // stroke color
                        {
                            c = "#000000";

                            // set colour by tier
                            if (d.linkstyle==-1)  {c = 'rgb(168,168,168)'; }
                            if (d.linkstyle==0)  {c = 'rgb(168,168,168)'; }
                            if (d.linkstyle==1)  {c = 'rgb(168,168,168)'; }
                            if (d.linkstyle==2)  {c = 'rgb(168,168,168)'; }
                            if (d.linkstyle==3)  {c = 'rgb(168,168,168)'; }
                            if (d.linkstyle==4)  {c = 'rgb(168,168,168)'; }

                            return c;
                        })*/

                link.exit().remove();

                var node = vis.selectAll("g.node")
                        .data(nodes, function(d) { return d.id;});

                var nodeEnter = node.enter().append("g")
                        .attr("class", "node")
                        .call(force.drag);

                // circles for nodes outside footprint
                nodeEnter.append("circle")
                        //.attr("class", "node")
                        .attr("class", function(d)
                        {
                            c = "node";
                            // set class by nodestyle attribute
                            if (d.nodestyle==-1) {c = "node style-1"; }
                            if (d.nodestyle==0) {c = "node style0"; }
                            if (d.nodestyle==1) {c = "node style1"; }
                            if (d.nodestyle==2) {c = "node style2"; }
                            if (d.nodestyle==3) {c = "node style3"; }
                            if (d.nodestyle==4) {c = "node style4"; }

                            c += ' layer' + d.layer

                            {% if startup.markers %}
                              if ( parseInt(d.intensity) > 0 )
                              {
                                    c = c + ' infootprint';
                              }
                            {% endif %}

                            return c;
                        })
                        .attr("r", {{ markersize }})
                        //.attr("cx", 100)
                        //.attr("cy", 100)
                        .attr("visibility", function(d)
                            {
                                v = "visible";

                                // make the circle disappear so we can see the diamond; there must be a better way to do this (6 means in footprint and marked for deletion)
                                if (d.intensity == 6 ) {v = "hidden";}

                                // set visibility by tier
                                //if ((d.tier==0) && (!t0Nvis )) {v = "hidden"; }
                                //if ((d.tier==1) && (!t1Nvis )) {v = "hidden"; }
                                //if ((d.tier==2) && (!t2Nvis )) {v = "hidden"; }
                                //if ((d.tier==3) && (!t3Nvis )) {v = "hidden"; }

                                return v;
                            })
                        /*
                        .style("fill", function(d)
                            {
                                c = "#aaaaaa";

                                // set color by tier
                                if (d.nodestyle==-1) {c = 'rgb(255,255,0)'; }
                                if (d.nodestyle==0) {c = 'rgb(255,0,0)'; }
                                if (d.nodestyle==1) {c = 'rgb(255,127,7)'; }
                                if (d.nodestyle==2) {c = 'rgb(185,197,35)'; }
                                if (d.nodestyle==3) {c = 'rgb(0,168,43)'; }
                                if (d.nodestyle==4) {c = 'rgb(0,80,0)'; }

                                return c;
                            })*/
                        .attr("id", function(d) { return "cnode{{ viewerid }}_" + d.guid; })




                // tooltip
                //nodeEnter.append("title")
                //        .text(function(d) { return d.name; });

                nodeEnter.on("click", function(d) {
                    //alert (d.name + ": Now in event footprint") ;
                    d.intensity = 6;
                    d.fixed = true;
                    d3.selectAll("circle.node" ).style("stroke-width", 1).style("stroke-opacity", 1); // deselect
                    d3.select("#cnode{{ viewerid }}_" + d.guid ).style("stroke-width", 3).style("stroke-opacity", 0.8);  // select
                    //d3.select("#cnode{{ viewerid }}_" + d.guid ).style("visibility", function(d) { return 'hidden'; })
                    //d3.select("#rnode{{ viewerid }}_" + d.guid ).style("visibility", function(d) { return 'visible'; })
                    {% for ganged_viewer in ganglist %}
                        {{ ganged_viewer }}.remoteClickOn(d.guid)
                    {% endfor %}
                    //var popup = L.popup()
                    //        .setLatLng([d.geometry['coordinates'][1],d.geometry['coordinates'][0]])
                    //        .setContent("hello")
                    //        .openOn(map)

                    d3.select("#popupcontainer{{ viewerid }}").style("display", "block");
                    d3.select("#popupcontainer{{ viewerid }}").style("left", d.x-110 + 'px');
                    d3.select("#popupcontainer{{ viewerid }}").style("top", d.y-160 + 'px');
                    d3.select("#popup{{ viewerid }}").html(d.popup)
                });

                nodeEnter.on("mouseover" , function(d) {
                    //d3.select("#cnode{{ viewerid }}_" + d.guid ).style("stroke-width", 5).style("stroke-opacity", 0.8);
                    //d3.select("#popup{{ viewerid }}").style("display", "block");
                    //if (mapOn{{ viewerid }})
                    //{
                    //    d3.select("#popup{{ viewerid }}").style("left", (d.geox+12 ) + 'px');
                    //    d3.select("#popup{{ viewerid }}").style("top", (d.geoy-30) + 'px');
                    //}
                    //else
                    //{
                    //    d3.select("#popup{{ viewerid }}").style("left", '10px');
                    //    d3.select("#popup{{ viewerid }}").style("top", '10px');
                    //}
                    //d3.select("#popup{{ viewerid }}").html(d.popup)
                })

                nodeEnter.on("mouseout" , function(d) {
                    //d3.select("#cnode{{ viewerid }}_" + d.guid ).style("stroke-width", 1).style("stroke-opacity", 1)
                    //d3.select("#popup{{ viewerid }}").style("display", "none");
                })

                node.exit().remove();

                force.on("tick", function(e) {


                    link
                            .attr("x1", function(d) { return d.source.x; })
                            .attr("y1", function(d) { return d.source.y; })
                            .attr("x2", function(d) { return d.target.x; })
                            .attr("y2", function(d) { return d.target.y; });

                    node
                            .attr("transform", function(d) {
                                return "translate(" + d.x + "," + d.y + ")";});

                    }
                );

                // Restart the force layout.
                force.start();
            }

            // Make it all go
            update();


        }

        var graph{{ viewerid }} = new myGraph("#graph{{ viewerid }}");

    </script>


<!-- GraphViewer Template Tag end. Viewer id={{ viewerid }} -->