{% load comments %}

<!DOCTYPE html>
<!--[if lte IE 8]><html class="lt-ie9"  lang="en" ><![endif]-->
<!--[if gte IE 9]><!--><html lang="en"><!--<![endif]-->
<head>
    {% block htmlhead %}

        <meta charset="utf-8" />
        <link href="{{ STATIC_URL }}style.css" rel="stylesheet" type="text/css"  />

        <!-- Zen for HTML5 -->
        <style>
            @import url("{{ STATIC_URL }}responsive-sidebars.css");
            @import url("{{ STATIC_URL }}normalize.css");
        </style>
        <title>{{ page_title }}</title>
    {% endblock htmlhead %}

    {% block javascript1 %}

    {% endblock javascript1 %}
</head>

<body class="one-sidebar sidebar-second">
<div id="page">
    <header id="header">
        {% block header %}
            {% include "header.html" %}
        {% endblock header %}
    </header>

    <div id="main">
        <div id="content">
            <div class="section">
                <section>
                    {% if haspageerrors %}
                        <div class="errormessage">
                        {{ pageerrors }}
                        </div>
                    {% endif %}
                    {% block content %}

                    {% endblock content %}
                </section>
            </div>
            <div class="section">
                <section>
                    {% block comments %}

                    {% endblock comments %}
                </section>
            </div>
        </div>

        <div id="navigation">
            <nav>
                {% block nav %}
                    {% include "navigation.html" %}
                {% endblock nav %}
            </nav>
        </div>

        <div class="region-sidebar-second">

            {% block rightcolumn %}
                <img id="sidebar-header" src="{{ STATIC_URL }}sidebar_header.jpg" width="280" height="81">
                <div class="rightsidebar">

                    {% block appcontainer %}

                        <div class="app">
                            <h5>Current topics</h5>
                            <nav>
                            <ul>
                                <li><a href="/whatsnew">What's new?</a></li>
                                <li><a href="/page/8">What is a shock?</a></li>
                                <li><a href="/page/9">Threat correlation</a></li>
                                <li><a href="/downloads">Downloads</a></li>
                                <li><a href="/contribute">Contribute</a></li>
                                <li><a href="/page/13">Technology</a></li>
                            </ul>
                            </nav>
                        </div>
                        <!--<div class="app">
                            <h5>Latest news</h5>
                        </div>-->

                    {% endblock appcontainer %}

                </div>

            {% endblock rightcolumn %}
        </div>

    </div>

    <footer id="footer">
        {% block footer %}
            {% include "footer.html" %}
        {% endblock footer %}
    </footer>
</div><!-- /#page -->
</body>
</html>