<div id="sub_footer" class="grid_12 alpha">
    <div class="grid_6 alpha">
        <div>© Cambridge Judge Business School, Trumpington Street, Cambridge, CB2 1AG, UK, Tel +44 (0)1223 339700</div>
        <div><a href="/home">Home </a> |  <a href="http://www.jbs.cam.ac.uk">Cambridge Judge Business School</a>  |  <a href="http://www.cam.ac.uk">University of Cambridge</a>  | <a href="http://www.risk.jbs.cam.ac.uk">&copy; Centre for Risk Studies</a> | <a href="/contact">Contact us</a></div>
    </div>
</div>
